* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  background: #fff;
}

body a {
  text-decoration: none;
  color: #333;
}

body li {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

i {
  padding-right: 10px;
}

.wrapper {
  max-width: 1920px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 40px #ccc;
  background-color: #fff;
  position: relative;
}

.wrapper--fixed {
  max-width: 1600px;
}

.container-fluid {
  margin: 0 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.header {
  max-height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  cursor: pointer;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 80px;
  width: 100%;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  flex-grow: 3;
  margin-left: 170px;
  margin-right: 5px;
}

.header-menu__item {
  cursor: pointer;
  padding: 0 20px 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-menu__item:hover {
  background-color: #f1f1f1f1;
}

.header-menu__item:hover .header-menu__link {
  border-bottom: 2px solid #206fb4;
}

.header-menu__link {
  display: flex;
  transition: all .2s;
  border-bottom: 2px solid transparent;
  line-height: 25px;
  font-weight: bold;
}

.header-menu__link:last-child {
  margin-right: 0;
}

.header-lang {
  padding: 0 30px;
  border-left: 1px solid #e2e2e2e2;
  border-right: 1px solid #e2e2e2e2;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-lang .lang {
  background: #f1f1f1f1;
  width: 80px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.header-lang .lang .caret {
  position: absolute;
  right: 6px;
  width: 0;
  height: 0;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.header-lang .lang img {
  margin-right: 5px;
}

.header-search {
  height: 80px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .2s;
}

.header-search:hover {
  background-color: #f1f1f1f1;
}

.header-search__img {
  display: flex;
  align-items: center;
  padding: 0 25px;
}

.header-search__img img {
  width: 25px;
}

.header-work__img {
  cursor: pointer;
  height: 80px;
  border-left: 1px solid #e2e2e2e2;
  border-right: 1px solid #e2e2e2e2;
  display: flex;
  align-items: center;
  padding: 0 25px;
  transition: all .2s;
}

.header-work__img:hover {
  background-color: #f1f1f1f1;
}

.header-work__img img {
  width: 25px;
}

.header-link__text {
  display: flex;
  padding: 0 30px;
  border-right: 1px solid #e2e2e2e2;
  border-bottom: 3px solid #206fb4;
  box-sizing: border-box;
  height: 79px;
}

.header-link__text:hover {
  background-color: #f1f1f1f1;
}

.header-link__text img {
  width: 15px;
  margin-left: 10px;
}

.main {
  background: url(/img/dedication.jpg) no-repeat center/cover;
  width: 100%;
  height: 600px;
}

.main-head {
  background-color: rgba(14, 52, 92, 0.5);
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  padding: 25px 100px;
}

.main-head__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-head__list .list-item {
  margin-right: 30px;
}

.main-head__list .list-item:first-child a {
  position: relative;
}

.main-head__list .list-item:first-child a:after {
  content: '';
  position: absolute;
  left: -35px;
  top: -7px;
  background: url(/icons/info.png) no-repeat center;
  display: block;
  width: 30px;
  height: 30px;
}

.main-head__list .list-link {
  color: #fff;
  transition: all .2s;
}

.main-head__list .list-link:hover {
  text-decoration: underline;
}

.section--banners {
  display: block;
  margin-top: 10px;
}

.section--banners .banners {
  background: #f1f1f1f1;
  padding: 40px 30px 0 30px;
}

.section--banners .banners__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section--banners .banners__content {
  display: inline-flex;
  position: relative;
  margin: 10px;
  transition: all .3s .1s;
}

.section--banners .banners__content:hover {
  box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.12);
}

.section--banners .banners__link {
  display: inline-block;
  color: #fff;
  position: relative;
}

.section--banners .banners__link:hover {
  text-decoration: none;
}

.section--banners .banners__link:hover img {
  opacity: .7;
}

.section--banners .banners__image {
  background: #333;
  height: 138px;
}

.section--banners .banners__image img {
  width: 100%;
  opacity: 1;
  transition: all .3s .1s;
}

.section--banners .banners__title {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px;
  font-size: 24px;
  padding-right: 115px;
}

.section--banners .banners__title span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 0;
}

.section--banners .banners__link:hover .banners__title span {
  border-bottom-color: rgba(255, 255, 255, 0);
}

.news {
  padding: 35px 0;
  background: #f1f1f1;
}

.news-header {
  padding: 15px 0;
  font-size: 22px;
  border-bottom: 0;
}

.news-api {
  margin: 0 -10px;
}

.news-api__list {
  height: 226px;
}

.news-api__item {
  display: inline-flex;
  justify-content: space-between;
  width: 284px;
  padding: 20px;
  font-size: 15px;
  transition: all .3s .1s;
  margin-right: 15px;
}

.news-api__item:hover {
  box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.12);
}

.news-api__item:hover a span {
  text-decoration: underline;
}

.news-api__item:first-child {
  background: #fff;
  border: 3px solid #4f94d7;
}

.news-api__item:nth-child(2) {
  border-top: 3px solid #ccc;
  background-color: #e6e6e6;
}

.news-api__item:nth-child(3) {
  border-top: 3px solid #ccc;
  background-color: #e6e6e6;
}

.news-api__item:nth-child(4) {
  border-top: 3px solid #22a005;
  background-color: #fff;
}

.news-api__item:nth-child(5) {
  border-top: 3px solid #22a005;
  background-color: #fff;
}

.news-api__item .new-status {
  display: inline-block;
  float: right;
  border: 1px solid #22a055;
  background: #22a055;
  padding: 3px 10px;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
}

.news-api__item span {
  font-size: 15px;
  margin-top: 20px;
  font-weight: normal;
  display: block;
}

.news-api__item-new {
  display: inline-block;
  float: right;
}

.news-api__icon {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.news-api__icon img {
  margin-right: 5px;
}

.news-api__more {
  padding: 15px 10px;
}

.news-api__more a {
  text-transform: uppercase;
  font-weight: normal;
}

.news-api__more a:hover {
  text-decoration: underline;
}

.info {
  margin-top: 30px;
}

.info-api {
  margin-top: 20px;
  width: 730px;
}

.info-api__image {
  background: url(https://news.sumdu.edu.ua/images/news/IMG_3445.jpg) no-repeat center/cover;
  height: 400px;
}

.info-api__image-wrap {
  position: relative;
  background-color: #000;
}

.info-api__image-gradient {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, #000);
}

.info-api__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 22px;
  color: #fff;
  padding: 20px 30px;
  transition: all .3s .1s;
}

.info-api__title:hover {
  text-decoration: underline;
}

.info-api__item {
  position: relative;
}

.info-api__item-img {
  width: 731px;
}

.info-api__description {
  background: #f1f1f1f1;
  width: 731px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info-api__date {
  padding: 20px 30px;
}

.info-api__hits {
  padding: 20px 30px;
}

.info-api__text {
  padding: 30px;
  padding-top: 0;
  margin: 0px;
  font-size: 15px;
  line-height: 20px;
}

.span6 {
  display: inline-block;
  width: 48%;
}

.right {
  margin-left: 50px;
}

.row-fluid {
  display: flex;
  margin-left: -10px;
}

.api-news__list {
  display: flex;
  width: 100%;
}

.api-news__box {
  display: inline-block;
  width: 100%;
  margin-left: -10px;
}

.api-news__box:last-child {
  margin-left: 10px;
}

.api-news__item {
  width: 100%;
  height: 130px;
}

.api-news__item-separator {
  border-top: 1px dashed #ccc;
}

.api-news__content {
  margin: 10px;
  min-height: 90px;
}

.api-news__title {
  padding: 15px 0;
  padding-bottom: 5px;
}

.api-news__date {
  padding: 15px 0;
}

.api-news__link {
  font-size: 15px;
}

.api-news__link:hover {
  text-decoration: underline;
}

.api-news__more {
  margin-left: -10px;
  font-size: 15px;
}

.access {
  background-color: #f1f1f1f1;
  background: url(/icons/bg-pattern.png);
  padding: 20px 0;
}

.access-header {
  margin-left: 20px;
  padding-bottom: 10px;
}

.access-banners {
  background: none !important;
  margin-left: -10px;
  padding: 0 20px !important;
}

.access-banners .banners__image {
  height: 149px;
}

.access-banners img {
  height: 150px;
}

.access-banners__title {
  font-size: 20px !important;
  padding-right: 0px !important;
}

.access-list {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  flex-wrap: wrap;
}

.access__item {
  width: 25%;
}

.access__item a[href^="#1"] span::after {
  content: '';
  display: inline-block;
  background: url(/icons/icon-ref.png) no-repeat right bottom;
  width: 16px;
  height: 16px;
}

.access-title {
  background: #fff;
  color: #333333;
  margin-right: 20px;
  margin-bottom: 30px;
  height: 110px;
  padding: 40px 20px;
  transition: all .3s .1s;
}

.access-title span {
  font-size: 20px;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.access-title:hover {
  box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.12);
}

.access-title:hover span {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.media {
  padding-top: 40px;
  background-color: #fff;
  background: url(/icons/bg-circles.jpg) no-repeat;
  border-bottom: 1px dashed #ccc;
}

.media__list {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.media .news-api__more {
  margin-left: 10px !important;
}

.media .news-api__more i {
  font-size: 15px;
}

.media__item {
  width: 25%;
}

.media__content {
  margin: 10px;
}

.media__wrapper {
  background: #f1f1f1f1;
  transition: all .3s .1s;
  margin-bottom: 1px;
  position: relative;
}

.media__wrapper:hover {
  background: #ccc;
}

.media__link {
  display: block;
  color: #333;
}

.media__image {
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 170px;
  transition: all .3s .1s;
  transform: translate3d(0, 0, 0);
  opacity: 0.9;
}

.media__image_underline {
  background-position: center;
  padding-top: 12px;
  height: 12px;
  background-color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
}

.media__image_underline--1 {
  margin: 0 10px;
  opacity: 0.9;
}

.media__image_underline--2 {
  margin: 0 15px;
  opacity: 0.6;
}

.media__image_underline--3 {
  margin: 0 20px;
  opacity: 0.3;
}

.media__image-wrapper {
  background-color: #000;
}

.media__icon {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -55px;
  transition: all .2s;
  transform: scale(0.8);
  text-align: center;
}

.media__icon i {
  font-size: 55px;
  color: #fff;
}

.media__icon-text {
  color: #fff;
  opacity: 0;
  transition: all .3s .1s;
}

.media__title {
  padding: 30px 20px;
  text-align: center;
  font-size: 20px;
}

.media__title span {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.media__link:hover .media__image {
  opacity: 0.6;
}

.media__link:hover .media__icon {
  transform: scale(1);
}

.media__link:hover .media__icon-text {
  opacity: 1;
}

.centers {
  background: #f1f1f1f1;
  padding: 30px 0 40px 0;
  border-bottom: 1px dashed #ccc;
}

.centers__list {
  margin-top: 15px;
  display: flex;
  margin-left: 10px;
}

.centers__item {
  margin: 0 20px 0 0;
}

.centers__link {
  position: relative;
  display: block;
}

.centers__title {
  opacity: 0;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s .1s;
  font-size: 15px;
  color: #fff;
}

.centers__link:hover .centers__title {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact {
  padding: 40px 0 30px 0;
  border-bottom: 1px dashed #ccc;
}

.contact__list {
  display: flex;
}

.contact-text {
  width: 25%;
  margin-left: 50px;
}

.contact-text:first-child {
  margin-left: 10px;
}

.contact-header {
  font-size: 22px;
  margin: 20px 0 10px;
  padding-bottom: 2px;
}

.contact-sub {
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 15px;
}

.contact-sub a {
  color: #08c;
}

.contact-link {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  color: #08c;
}

.contact-icon {
  display: flex;
  justify-content: space-around;
  padding-right: 50px;
}

.contact-icon__item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin: 5px 7px;
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background: #d9d9d9;
  color: #333;
  font-size: 21px;
  transition: all .3s .1s;
}

.contact-icon .facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

.contact-icon .twitter:hover {
  background-color: #2baae0;
  color: #fff;
}

.contact-icon .youtube:hover {
  background-color: #fe3432;
  color: #fff;
}

.contact-icon .instagram:hover {
  color: #fff;
  background-color: #bd2a9d;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.contact-icon .telegram:hover {
  background-color: #76a0d3;
  color: #fff;
}

.footer {
  padding: 40px 0 30px 0;
  border-bottom: 1px dashed #ccc;
}

.footer__list {
  display: flex;
  align-items: start;
  margin-left: 10px;
}

.footer-item {
  margin-left: 80px;
}

.footer-item:first-child {
  margin-left: 0;
}

.footer-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link-custom {
  background: #4f94d7;
  display: flex;
  min-width: 250px;
  align-items: center;
  padding: 14px 20px;
  position: relative;
  color: #fff;
  transition: all .3s .1s;
  margin-top: 30px;
  text-decoration: none;
}

.footer-link-custom img {
  position: absolute;
  right: 10px;
}

.footer-link-custom:hover {
  background: #36699c;
}

.footer-link-light {
  margin-top: 0;
  background: none;
  border: 2px solid #4f94d7;
  color: #08c;
}

.footer-link-light:hover {
  color: #fff;
  border: 2px solid transparent;
}

.copyright {
  padding: 30px 0 20px 0;
  text-align: center;
}

.copyright-header {
  display: block;
  color: #08c;
  margin-bottom: 20px;
  font-size: 12px;
}

.copyright-desc {
  font-size: 12px;
  line-height: 22px;
}

.copyright-desc a {
  color: #08c;
}
/*# sourceMappingURL=style.css.map */