.header 
    max-height: 80px
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    &-logo 
        cursor: pointer
    &__nav 
        display: flex
        align-items: center
        justify-content: space-between
        line-height: 80px
        width: 100%
    &-menu 
        display: flex
        justify-content: space-around
        flex-grow: 3
        margin-left: 170px
        margin-right: 5px
        &__item
            cursor: pointer
            padding: 0 20px 0 20px
            height: 80px
            display: flex
            align-items: center
            &:hover 
                background-color: #f1f1f1f1
                .header-menu__link
                    border-bottom: 2px solid #206fb4 
        &__link
            display: flex
            transition: all .2s
            border-bottom: 2px solid transparent 
            line-height: 25px
            font-weight: bold
            &:last-child
                margin-right: 0
    &-lang
        padding: 0 30px
        border-left: 1px solid #e2e2e2e2
        border-right: 1px solid #e2e2e2e2
        height: 80px
        display: flex
        align-items: center
        .lang
            background: #f1f1f1f1
            width: 80px
            height: 40px
            display: flex
            align-items: center
            padding: 10px
            position: relative
            .caret 
                position: absolute
                right: 6px
                width: 0
                height: 0
                border-top: 4px solid #000
                border-right: 4px solid transparent
                border-left: 4px solid transparent
            img 
                margin-right: 5px
    &-search 
        height: 80px
        display: flex
        align-items: center
        cursor: pointer
        transition: all .2s
        &:hover
            background-color: #f1f1f1f1
        &__img 
            display: flex
            align-items: center
            padding: 0 25px
            img
                width: 25px     
    &-work
        &__img 
            cursor: pointer
            height: 80px
            border-left: 1px solid #e2e2e2e2
            border-right: 1px solid #e2e2e2e2
            display: flex
            align-items: center
            padding: 0 25px
            transition: all .2s
            &:hover
                background-color: #f1f1f1f1
            img
                width: 25px
    &-link
        &__text 
            display: flex
            padding: 0 30px
            border-right: 1px solid #e2e2e2e2
            border-bottom: 3px solid #206fb4
            box-sizing: border-box
            height: 79px
            &:hover
                background-color: #f1f1f1f1
            img
                width: 15px
                margin-left: 10px

// Main 

.main 
    background: url(/img/dedication.jpg) no-repeat center / cover
    width: 100%
    height: 600px
    &-head 
        background-color: rgba(14, 52, 92, 0.5)
        position: absolute
        right: 0
        left: 0
        margin: 0
        padding: 25px 100px
        &__list 
            display: flex
            align-items: center
            justify-content: space-between
            .list
                &-item 
                    margin-right: 30px
                    &:first-child a
                        position: relative
                        &:after 
                            content: ''
                            position: absolute
                            left: -35px
                            top: -7px
                            background:  url(/icons/info.png) no-repeat center
                            display: block
                            width: 30px
                            height: 30px
                &-link
                    color: #fff 
                    transition: all .2s
                    &:hover
                        text-decoration: underline

//  Banners

.section--banners
    display: block
    margin-top: 10px
    .banners 
        background: #f1f1f1f1
        padding: 40px 30px 0 30px
        &__list             
            display: flex
            width: 100%
            justify-content: space-between
        &__content 
            display: inline-flex
            position: relative
            margin: 10px
            transition: all .3s .1s
            &:hover 
                box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.12)          
        &__link
            display: inline-block
            color: #fff
            position: relative
            &:hover
                text-decoration: none
                img 
                    opacity: .7
        &__image 
            background: #333
            height: 138px
            img 
                width: 100%
                opacity: 1
                transition: all .3s .1s
        &__title
            position: absolute
            left: 0
            bottom: 0
            right: 0
            padding: 30px
            font-size: 24px
            padding-right: 115px
            span 
                border-bottom: 1px solid rgba(#fff, 0.6)
                padding-bottom: 0
        &__link:hover .banners__title span
            border-bottom-color: rgba(255, 255, 255, 0)
// news
.news
    padding: 35px 0
    background: #f1f1f1
    &-header
        padding: 15px 0
        font-size: 22px
        border-bottom: 0
    &-api 
        margin: 0 -10px 
        &__list 
            height: 226px
        &__item
            display: inline-flex
            justify-content: space-between
            width: 284px
            padding: 20px
            font-size: 15px
            transition: all .3s .1s
            margin-right: 15px
            &:hover
                box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.12)
                a  span
                   text-decoration: underline
            &:first-child
                background: #fff
                border: 3px solid #4f94d7
            &:nth-child(2)
                border-top: 3px solid #ccc
                background-color: #e6e6e6
            &:nth-child(3)
                border-top: 3px solid #ccc
                background-color: #e6e6e6
            &:nth-child(4)
                border-top: 3px solid #22a005
                background-color: #fff
            &:nth-child(5)
                border-top: 3px solid #22a005
                background-color: #fff
            .new 
                &-status
                    display: inline-block
                    float: right
                    border: 1px solid #22a055
                    background: #22a055
                    padding: 3px 10px
                    border-radius: 50px
                    color: #fff
                    font-size: 11px
            span
                font-size: 15px
                margin-top: 20px
                font-weight: normal
                display: block
            &-new 
                display: inline-block
                float: right  
        &__icon
            display: flex
            align-items: center
            font-size: 14px
            margin-top: 10px
            img 
                margin-right: 5px
        &__more 
            padding: 15px 10px
            a
                text-transform: uppercase
                font-weight: normal
                &:hover
                    text-decoration: underline
// info
.info 
    margin-top: 30px
    &-api
        margin-top: 20px
        width: 730px
        &__image
            &-wrap
                position: relative
                background-color: #000
            background: url(https://news.sumdu.edu.ua/images/news/IMG_3445.jpg) no-repeat  center / cover
            height: 400px
            &-gradient 
                position: absolute
                left: 0
                top: 50%
                right: 0
                bottom: 0
                background-image: linear-gradient(transparent, #000)
        &__title
            position: absolute
            bottom: 0
            left: 0
            right: 0
            font-size: 22px
            color: #fff
            padding: 20px 30px
            transition: all .3s .1s
            &:hover
                text-decoration: underline
        &__item 
            position: relative
            &-img
                width: 731px
        &__description
            background: #f1f1f1f1
            width: 731px
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
        &__date 
            padding: 20px 30px
        &__hits
            padding: 20px 30px
        &__text 
            padding: 30px
            padding-top: 0
            margin: 0px
            font-size: 15px
            line-height: 20px
.span6 
    display: inline-block
    width: 48%
.right 
    margin-left: 50px
.row-fluid
    display: flex
    margin-left: -10px
.api
    &-news
        &__list
            display: flex
            width: 100%
        &__box
            display: inline-block
            width: 100%
            margin-left: -10px
            &:last-child
                margin-left: 10px
        &__item
            width: 100%
            height: 130px
            &-separator
              border-top: 1px dashed #ccc 
        &__content
            margin: 10px
            min-height: 90px
        &__title
            padding: 15px 0
            padding-bottom: 5px
        &__date
            padding: 15px 0
        &__link
            font-size: 15px
            &:hover
                text-decoration: underline
        &__more
            margin-left: -10px
            font-size: 15px

// access
.access
    background-color: #f1f1f1f1
    background: url(/icons/bg-pattern.png)
    padding:  20px 0
    &-header
        margin-left: 20px
        padding-bottom: 10px
    &-banners
        background: none!important
        margin-left: -10px
        padding: 0 20px!important
        .banners__image
            height: 149px

        img 
            height: 150px
        &__title
            font-size: 20px!important
            padding-right: 0px!important
    &-list 
        display: flex
        margin-top: 20px
        margin-left: 10px
        flex-wrap: wrap
    &__item
        width: 25%
        a[href^="#1"]
            span::after 
                content: ''
                display: inline-block
                background: url(/icons/icon-ref.png) no-repeat right bottom 
                width: 16px
                height: 16px
    &-title
        span
            font-size: 20px
            padding-bottom: 1px
            border-bottom: 1px solid rgba(0, 0, 0, 0.2)
        background: #fff
        color: #333333
        margin-right: 20px
        margin-bottom: 30px
        height: 110px
        padding: 40px 20px
        transition: all .3s .1s
        &:hover
            box-shadow: -8px 8px 0 0 rgba(0, 0, 0, 0.12)
            span 
                 border-bottom: 1px solid rgba(0, 0, 0, 0)
// media 
.media 
    padding-top: 40px 
    background-color: #fff
    background: url(/icons/bg-circles.jpg) no-repeat
    border-bottom: 1px dashed #ccc
    &__list
        display: flex
        justify-content: space-between
        margin: 0 10px
        margin-bottom: 30px
        margin-top: 10px
    .news-api__more
        margin-left: 10px!important
        i 
            font-size: 15px
    &__item
        width: 25%
    &__content 
        margin: 10px
    &__wrapper
        background: #f1f1f1f1
        transition: all .3s .1s
        margin-bottom: 1px
        position: relative
        &:hover
            background: #ccc
    &__link
        display: block
        color: #333
    &__image
        background-color: #ccc
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        height: 170px
        transition: all .3s .1s
        transform: translate3d(0, 0, 0)
        opacity: 0.9
        &_underline
            background-position: center 
            padding-top: 12px
            height: 12px
            background-color: #ccc
            background-size: cover
            background-repeat: no-repeat
            &--1
                margin: 0 10px
                opacity: 0.9
            &--2
                margin: 0 15px
                opacity: 0.6
            &--3 
                margin: 0 20px
                opacity: 0.3
        &-wrapper 
            background-color: #000
    &__icon
        position: absolute
        top: 20%
        left: 50%
        margin-left: -55px
        transition: all .2s
        transform: scale(0.8)
        text-align: center
        i 
            font-size: 55px
            color: #fff
        &-text
            color: #fff
            opacity: 0
            transition: all .3s .1s
    &__title
        padding: 30px 20px
        text-align: center
        font-size: 20px
        span 
            padding-bottom: 1px
            border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    &__link:hover 
        .media__image
            opacity: 0.6
        .media__icon
            transform: scale(1)
            &-text
                opacity: 1
// centers
.centers
    background: #f1f1f1f1
    padding: 30px 0 40px 0
    border-bottom: 1px dashed #ccc
    &__list
        margin-top: 15px
        display: flex
        margin-left: 10px
    &__item
        margin: 0 20px 0 0
    &__link 
        position: relative
        display: block
    &__title 
        opacity: 0
        padding: 10px 15px
        position: absolute
        top: 0
        left: 0
        transition: all .3s .1s
        font-size: 15px
        color: #fff
    &__link:hover .centers__title
        opacity: 1
        background: rgba(#000, 0.6)
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
// contact 
.contact 
    padding: 40px 0 30px 0
    border-bottom: 1px dashed #ccc
    &__list 
        display: flex
    &-text
        width: 25%
        margin-left: 50px
        &:first-child
            margin-left: 10px
    &-header
        font-size: 22px
        margin: 20px 0 10px
        padding-bottom: 2px
    &-sub 
        margin-bottom: 20px
        line-height: 22px
        font-size: 15px
        a
            color: #08c 
    &-link
        display: block
        font-size: 15px
        margin-bottom: 5px
        color: #08c
    &-icon
        display: flex
        justify-content: space-around
        padding-right: 50px 
        &__item
            display: flex
            align-items: center
            justify-content: center
            padding-left: 10px
            margin: 5px 7px
            text-align: center
            width: 44px
            height: 44px
            border-radius: 50px
            background: #d9d9d9
            color: #333
            font-size: 21px
            transition: all .3s .1s
        .facebook
            &:hover 
                background-color: #3b5998
                color: #fff
        .twitter
            &:hover 
                background-color: #2baae0
                color: #fff
        .youtube
            &:hover 
                background-color: #fe3432
                color: #fff
        .instagram
            &:hover 
                color: #fff
                background-color: #bd2a9d
                background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%)
        .telegram
            &:hover 
                background-color: #76a0d3
                color: #fff
// footer
.footer
    padding: 40px 0 30px 0
    border-bottom: 1px dashed #ccc
    &__list
        display: flex
        align-items: start
        margin-left: 10px
    &-item
        margin-left: 80px
        &:first-child
            margin-left: 0
        a 
            display: flex
            align-items: center
            justify-content: space-between
            width: 100%
    &-link
        display: block
        margin-bottom: 10px
        font-size: 15px
        &:hover
            text-decoration: underline
        &-custom
            background: #4f94d7
            display: flex
            min-width: 250px
            align-items: center
            padding: 14px 20px
            position: relative
            color: #fff
            transition: all .3s .1s
            margin-top: 30px
            text-decoration: none
            img 
                position: absolute
                right: 10px
            &:hover 
                background: #36699c
        &-light
            margin-top: 0 
            background: none
            border: 2px solid #4f94d7
            color: #08c
            &:hover 
                color: #fff
                border: 2px solid transparent
// copyright
.copyright 
    padding: 30px 0 20px 0
    text-align: center
    &-header
        display: block
        color: #08c
        margin-bottom: 20px
        font-size: 12px
    &-desc  
        font-size: 12px
        line-height: 22px
        a
            color: #08c